[core]
	editor = vim
[user]
	name = harrisonlabollita
    email = hlabollita0219@lions.piedmont.edu

[alias]
    l = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
